openapi: 3.2.0
info:
  title: Reference Misc API
  version: 1.0.0
  description: Canopy Connect Public API Documentation
  contact:
    name: Canopy Connect
    email: support@usecanopy.com
    url: https://usecanopy.com/
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://app.usecanopy.com/api/v1.0.0
security:
- BasicAuth: []
tags:
- name: Misc API
  description: Collection of miscellaneous API routes
paths:
  /health:
    get:
      summary: GET /health
      tags:
      - Misc API
      responses:
        '200':
          description: 200 Response Schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  healthy:
                    type: boolean
                    default: true
              examples:
                200 Example Response:
                  value:
                    healthy: true
        '500':
          description: 500 Response Schema
          content:
            application/json:
              schema:
                type: object
                properties:
                  healthy:
                    type: boolean
                    default: false
              examples:
                500 Example Response:
                  value:
                    healthy: false
      operationId: get-health
      description: Get the current health of the Canopy Connect service.
      security: []
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use your Canopy Connect Client ID as the username and your Client Secret as the password. The `Authorization` header value is `Basic <base64 of clientId:clientSecret>`. See the [Authentication guide](https://docs.usecanopy.com/reference/authentication-guide) for a full walkthrough, and create or manage your Client ID and Client Secret on the [API Settings page](https://app.usecanopy.com/dashboard/settings/api-settings).
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
